<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <root level="INFO">
        <appender-ref ref="EVENT_VIEWER"/>
    </root>

    <appender name="EVENT_VIEWER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

</configuration>