@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table id="tblDataTable" class="display">
    <thead>
        <tr>
            <th>Customer name</th>
            <th>Contact name</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal code</th>
        </tr>
    </thead>
</table>